
* {
    margin: 0;
    padding: 0;

  }


  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

 body {
    background-color: #1f2833;
    font-family: Roboto, sans-serif !important;
    font-weight: bold;
    position: relative !important;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    animation: fadeInAnimation ease-out 1.5s; 
            animation-iteration-count: 1; 
            animation-fill-mode: backwards; 
  }

  @keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

  .container-wrap {
    max-width: 2560px;
    margin: 0 auto;
    margin-top: 30px !important;
  }

  .navbar {
    width: 100%;
    background-color: #1f2833 !important;
    position: fixed;
  }


 .nav-link {
   font-size: 18px;
   font-family: Montserrat;
  }

  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

  nav.sticky-top {
    padding-left: 0;
    padding-right: 0;
    height: 55px;
  }



  .navbar-dark .navbar-toggler-icon {
    background-image: url('images/navbar-toggler-icon.png');
  }

  .close {
    font-size: 27px !important;
    text-shadow: none !important;
    opacity: 1 !important;
  }
  

  .navbar-toggler>.close {
    display: inline;
    color: #45A29F;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}


  .navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar .navbar-toggler {
  z-index: 1000
}

img.logo-navbar {
  width: 60px !important;
  height: 35px !important;
}


  .active {
    text-decoration: none;
    border-bottom: 3px solid #45A29F;    
    transition: 0.5s ease;
    white-space: nowrap;
  }

  
  .wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "submain submain submain submain"
      "main main main main"
      "footer footer footer footer ";
      background-color: black;
    background-image: url('images/coding-wallpaper.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position:center;
    color: white;
    background-color: transparent;
    background-blend-mode: screen;
    height: 100vh;
  } 

.header-content {
    grid-area: header;
    margin: 120px 0px 0px 0px;
    
  }

  .main-content {
    grid-area: main;
    background-color: #fff;
    margin: 0px 0px 0px 0px;
    padding-top: 70px;
    padding-bottom: 70px
  }
  .submain-content {
    grid-area: submain;
    margin: 0px 0px 0px 0px;
    background-color: #1f2833;
    padding-top: 70px;
  }

  .footer-content {
    grid-area: footer;
    background-color: lightgrey;
    margin: 0px 0px 0px 0px;
    color: #fff;
    background: #1f2833;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  /* individual element styling */
  
  .toggle-content {
    display: none;
  }
  
  .toggle-content.is-visible {
    display: block;
  }
  
  .expanded {
    display: none;
    animation-duration: 0.3s;
  }

  h1 {
    text-align: center;
    font-size: 100px;
    color: #45A29F;
  }

  h2 {
    text-align: center;
    color: #1f2833;
    font-weight: bold;
}

h3 {
  font-weight: bold;
  color: #1f2833;
  font-family: Montserrat;
  font-size: 28px !important;
}

h4 {
  text-align: center;
  font-size: 48px;
  font-family: Montserrat;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

  h5 {
   text-align: center;
   font-size: 32px;
   font-family: Montserrat;
   color: #45A29F;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin-left: 10px;
   margin-right: 10px;
  
}

h6 {
  text-align: left;
  color: #fff;
  margin-left: 115px !important;
  margin-right: 25px !important;
  font-family: Montserrat;
  font-size: 20px;
}

h7 {
  text-align: center;
  color: #45A29F;
  font-family: Montserrat;
  font-size: 20px;
}

.responsive-image {
   width: 100%;
   max-width: 120px;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
  }

  .responsive-image-logo {
    width: 100%;
    max-width: 56px;
    max-height: 56px;
    margin-left: 25px !important;
    position: absolute;
    display: block;
    border-radius: 0%;
    float: left;
    background-color: #fff;
   }
   
   .responsive-language-logo {
    width: 100%;
    max-width: 120px;
    max-height: 120px;
    margin-left: 25px !important;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
    float: left;
    background-color: #fff;
   }


  #expanding-projects {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #1f2833;
  background-color: #C5C6C7;
  }

  #github {
   position: relative;
   width: 50%;
  }

  #github .fa {
    color: #fff;
  }
  
  #github .fa:hover {
    color: #45A29F;
  }

  #linkedin {
    position: relative;
    width: 50%;
    text-align: right;
  }
  
  #linkedin .fa {
    color: #fff;
  }

  #linkedin .fa:hover {
    color: #45A29F;
  }

  .info {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 120px;
  }

  #info-hover {
    float: none;
  }

  #my-description {
    width: 40%;
    margin:auto;
  }

  .fa-5x {
    font-size: 60px;
    float: none;
    padding: 10px;
  }

  .fa-1x {
    float: none;
  }

  .fa-info-circle {
  float: right;
  margin-left: -50px;
  }

  a {
    color: inherit;
    text-align: center;
  }

  #send-email {
    font-family: Roboto, sans-serif !important;
    font-weight: bold;
  }

  #send-email:hover {
    text-decoration: none;
    color: #45A29F;
  }

  .image-box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1);
    opacity: 0.8;
}

.image-box:hover img {
    transform: scale(1.05);
    opacity: 1;
}

.button-content-style {
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}

#about-nav {
  color: #fff;
}
#myprojects-nav {
  color: #fff;
}
#contacts-nav {
 color: #fff;
}

.button-content-style span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
  margin: auto;
  width: 150px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
.button-content-style span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-content-style:hover span {
  padding-right: 25px;
  border-bottom: 3px solid #1E434C;
}
.button-content-style:hover span:after {
  opacity: 1;
  right: 0;
}

.button-content-style a:hover {
  
    color: red;
  
}

.button-content {
  display: inline-block;
}


.button-visit-project {
  border-radius: 4px;
  color: #1f2833;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 5px;
  transition: all 0.4s;
  cursor: pointer;
  border: 2px solid #1f2833;
}

.button-visit-project:link, .button-visit-project:visited {
  text-decoration: none;
}

.button-visit-project span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
  margin-top: 20px;
  margin-bottom: 50px;
}
.button-visit-project span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-visit-project:hover span {
  padding-right: 25px;
  color: #45A29F;
}
.button-visit-project:hover span:after {
  opacity: 1;
  right: 0;
}

.submain-title {
  text-align: center;;
  color: #45A29F;
  font-weight: bold;
  font-family: Montserrat;
}


.submain-list {
  text-align: center;
  list-style: none;
  color: #fff;
}

.submain-list li {
  display: inline-block;
  margin: 10px;
}

.submain-text {
  text-align: left;;
  color: #fff;
  font-size: 18px;
  margin-left: 115px !important;
  margin-right: 25px !important;
}

.submain-description {
  text-align: left;;
  color: #fff;
  font-size: 16px;
  margin-left: 115px !important;
  margin-right: 25px !important;
  margin-bottom: 50px;
  max-width: 1200px;
}

.submain-year {
  text-align: left;;
  color: #fff;
  font-size: 13px;
  margin-left: 115px !important;
}


.technologies-used {
  font-size: 24px;
  color: #1f2833;
  font-weight: bold;
  font-family: Montserrat;
}


.technologies-list i {
  color: #1f2833;
  font-size: 70px;
  margin-left: 10px;
}

#project-1 {
  margin-right: 25px;
}

#project-3 {
  margin-right: 25px;
}

#contacts {
  
}

#contacts p {
  text-align: center;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  width: 30%;
  background-color: #1E434C;
}


.card-body {
  background-color: #fff;
  padding: 0px;
}

.card-title {
  color: #1f2833;
  font-weight: bold;
  font-size: 28px;
}


.card-text {
  color: #1f2833;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.project-info {
  text-align: center;
  width: 50%;
  float: left;
}


.project-part {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.project-image {
  text-align: center;
  width: 50%;
  float: right;
}


.responsive {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-sm-12 {
  padding-bottom: 100px;
}

.col-sm-6 {
  margin-bottom: 100px;
}

.info-stacks .overlay{
  width: 100px;
  background: blue;
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.info-stacks:hover .overlay{
  opacity:1;
}

.info-stacks li {
  display: block;
}

#info-button .fa {
  float: none;
}

.overlay span{
  position: absolute;
  transform:translate(-50%,-50%);
  color:#fff;
  background: #1f2833;
  width: 130px;
}

.level-technologies {
  float: left;
  color: #45A29F;
  font-family: Montserrat;
  font-size: 15px;
}

.devicon-html5-plain-wordmark {
  font-size: 100px;
}

.devicon-css3-plain-wordmark {
 font-size: 100px;
}

.devicon-javascript-plain {
  font-size: 100px;
}

.devicon-bootstrap-plain-wordmark {
  font-size: 100px;
}

.devicon-csharp-plain {
  font-size: 100px;
}

.devicon-dot-net-plain-wordmark {
  font-size: 100px;
}

.devicon-jquery-plain-wordmark {
  font-size: 100px;
}

.devicon-react-original-wordmark {
  font-size: 100px;
}

.devicon-git-plain-wordmark {
  font-size: 100px;
}

.devicon-wordpress-plain-wordmark {
  font-size: 100px;
}

.devicon-photoshop-plain {
  font-size: 100px;
}

.content h3,
.content p {margin: 0;}

/* Scrollbar styling */ 

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #45A29F; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1E434C; 
}

.arrow {
  border: groove #45A29F;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
}

.arrow:hover {
  border: groove #45A29F;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  margin-top: 5px;
}

#arrow-slider {
  margin: 0 auto;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


  /* Media queries */

  @media all and (max-width: 1260px){

    .project-info, .project-image {
      width:100%;
    }

}

@media (max-width: 991.98px) {
  .navbar .navbar-collapse {
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.55s ease;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center !important;
    overflow-y: scroll;
    overflow-x: hidden
  }
  .navbar .navbar-collapse.collapse {
    display: flex;
    opacity: 0;
    pointer-events: none
  }
  .navbar .navbar-collapse.collapsing[style*="height"] {
    opacity: 1;
    height: 100% !important;
  }
  .navbar .navbar-collapse.collapsing {
    opacity: 0;
    height: 100%;
  }
  .navbar .navbar-collapse.collapse.show {
    opacity: 1;
    pointer-events: auto
  }
  .navbar .navbar-collapse .navbar-nav {
    margin-right: initial !important;
    margin-top: auto;
    margin-bottom: auto;
  }

  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin-top: 20px;
}
}

@media (max-width: 991.98px) {
  .navbar-nav {
    margin-left: initial !important;
  }
} 

  @media all and (max-width: 768px){

    .button-content-style {
        display: none;
    }

    ::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
      -ms-overflow-style: none
  }

    #my-description {
      width: 90%;
      margin:auto;
    }

    #project-1 {
      margin-right: 0px;
    }
    
    #project-3 {
      margin-right: 0px;
    }

    .img {
        float: left;
        width: 50%;
    }

    .submain-description {
      margin-left: 50px !important;
      margin-right: 25px !important;
    }

    .container-wrap {
      margin-top: 0px;
    }
  }

