
* {
    margin: 0;
    padding: 0;
  }

/* main sections styling */
  .wrapper {
    display: grid;
    grid-auto-columns: 100vw, 100vh ;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "submain submain submain submain"
      "main main main main"
      "footer footer footer footer ";
    height: 100vh;
  } 

.header-content {
    grid-area: header;
    background-color: none;
    margin: 5px 50px 300px 50px;
  }
  .main-content {
    grid-area: main;
    background-color: lightgrey;
    margin: 0px 20px 10px 20px;
  }
  .submain-content {
    grid-area: submain;
    background-color: lightskyblue;
    margin: 0px 0px 300px 10px;
  }
  .footer-content {
    grid-area: footer;
    background-color: lightgrey;
    margin: 10px 0px 0px 0px;
  }

  /* individual element styling */
  
  .toggle-content {
    display: none;
  }
  
  .toggle-content.is-visible {
    display: block;
  }
  
  .expanded {
    display: none;
    animation-duration: 0.3s;
  }

  h2 {
    text-align: center;
}

.responsive-image {
   width: 100%;
   max-width: 150px;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
  }

  #expanding-projects {
  display: block;
  margin-right: auto;
  margin-left: auto;
  }

  #github {
   float: right;
   position: relative;
   max-width: 300px;
 
  }

  #linkedin {
    float: left;
    position: relative;
    max-width: 300px;
  }
  .info {
    position: relative;
    width: 100%;
    text-align: center;
  }
 
  .fa {
    padding: 10px;
    float: right;
  }

  a {
    color: inherit;
  }

  .blue-rectangle{
    text-align: center;
    background:
      linear-gradient(65deg , transparent 50%,rgba(3,78,136,0.7) 50%) left no-repeat, 
      linear-gradient(0deg , rgba(3,78,136,0.7),rgba(3,78,136,0.7)) 30px 0 no-repeat;
    width:200px;
    height:60px;
    line-height:60px;
    padding:0 20px;
    color:white;
    margin:20px auto;
    position:relative;
    display: inline-block;
  }

  #first {
    background-size:100px 100%, 100% 100%;
  }

  #second {
    background-size:100px 100%, 100% 100%;
  }

  #third {
    background-size:100px 100%, 100% 100%;
  }

  /* Media queries */

  @media all and (max-width: 768px){
    #first, #second, #third {
        display: none;
    }
  }
