
* {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    display: grid;
    grid-auto-columns: 100vw, 100vh ;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "leftbar leftbar rightbar rightbar"
      "main main main main"
      "footer footer footer footer ";
    width: 100vw;
    height: 100vh;
  } 

.header-content {
    grid-area: header;
    background-color: lightgrey;
    margin: 5px 50px 10px 50px;
  }
  .main-content {
    grid-area: main;
    background-color: lightgrey;
    margin: 0px 20px 10px 20px;
  }
  .leftbar-content {
    grid-area: leftbar;
    background-color: lightgrey;
    margin: 0px 20px 10px 10px;
  }
  .rightbar-content {
    grid-area: rightbar;
    background-color: lightgrey;
    margin: 0px 10px 10px 0px;
  }
  .footer-content {
    grid-area: footer;
    background-color: lightgrey;
    margin: 0px 5px 5px 5px;
  }
  
h2 {
    text-align: center;
}

.responsive-image {
   width: 100%;
   max-width: 150px;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
  }