
* {
    margin: 0;
    padding: 0;
  }
/* main sections styling */
  .wrapper {
    display: grid;
    grid-auto-columns: 100vw, 100vh ;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "leftbar leftbar rightbar rightbar"
      "main main main main"
      "footer footer footer footer ";
    width: 100vw;
    height: 100vh;
  } 

.header-content {
    grid-area: header;
    background-color: lightgrey;
    margin: 5px 50px 10px 50px;
  }
  .main-content {
    grid-area: main;
    background-color: lightgrey;
    margin: 0px 20px 10px 20px;
  }
  .leftbar-content {
    grid-area: leftbar;
    background-color: lightgrey;
    margin: 0px 20px 10px 10px;
  }
  .rightbar-content {
    grid-area: rightbar;
    background-color: lightgrey;
    margin: 0px 10px 10px 0px;
  }
  .footer-content {
    grid-area: footer;
    background-color: lightgrey;
    margin: 0px 5px 5px 5px;
  }

  /* individual element styling */
  
  .toggle-content {
    display: none;
  }
  
  .toggle-content.is-visible {
    display: block;
  }
  
  .expanded {
    display: none;
    animation-duration: 0.3s;
  }

  h2 {
    text-align: center;
}

.responsive-image {
   width: 100%;
   max-width: 150px;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
  }

  #expanding-projects {
  display: block;
  margin-right: auto;
  margin-left: auto;
  }

  #github {
   float: right;
   position: relative;
   width: 100%;
   max-width: 300px;
  }

  #linkedin {
    float: left;
    position: relative;
    width: 100%;
    max-width: 300px;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  #github:hover .overlay {
    opacity: 1; 
  }

  #linkedin:hover .overlay {
    opacity: 1;

  