
* {
    margin: 0;
    padding: 0;
  }

  html, body {
    font-family: 'Ubuntu';font-size: 22px;
    background-color: #1f2833;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  

/* main sections styling */
  .wrapper {
    display: grid;
    grid-auto-columns: 100vw, 100vh ;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "submain submain submain submain"
      "main main main main"
      "footer footer footer footer ";
    height: 100vh;
    background-image: url('images/coding-wallpaper.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position:center;
    color: white;
    background-color: transparent;
    background-blend-mode: screen;
  } 

.header-content {
    grid-area: header;
    background-color: none;
    margin: 150px 0px 300px 0px;

  }
  .main-content {
    grid-area: main;
    background-color: #fff;
    margin: 0px 0px 0px 0px;
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .submain-content {
    grid-area: submain;
    margin: 0px 0px 0px 0px;
    background-color: #1f2833;
    padding-top: 100px;
    padding-top: 100px;
  }

  .footer-content {
    grid-area: footer;
    background-color: lightgrey;
    margin: 0px 0px 0px 0px;
    color: #fff;
    background: #1f2833;
  }

  /* individual element styling */
  
  .toggle-content {
    display: none;
  }
  
  .toggle-content.is-visible {
    display: block;
  }
  
  .expanded {
    display: none;
    animation-duration: 0.3s;
  }

  h1 {
    text-align: center;
    font-size: 100px;
  }

  h2 {
    text-align: center;
    color: #1f2833;
    font-weight: bold;
}

h4 {
  font-weight: bold;
}

  h5 {
   text-align: center;
}

h6 {
  text-align: left;
  color: #fff;
  margin-left: 115px !important;
}

.responsive-image {
   width: 100%;
   max-width: 120px;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
  }

  .responsive-image-logo {
    width: 100%;
    max-width: 56px;
    max-height: 56px;
    margin-left: 25px !important;
    position: aboslute;
    display: block;
    border-radius: 0%;
    float: left;
    background-color: #fff;
   }
   
   .responsive-language-logo {
    width: 100%;
    max-width: 120px;
    max-height: 120px;
    margin-left: 25px !important;
    position: aboslute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
    float: left;
    background-color: #fff;
   }


  #expanding-projects {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #1f2833;
  background-color: #C5C6C7;
  }

  #github {
   position: relative;
   max-width: 300px;
   margin-left: auto;
  margin-right: auto;
  }

  #github .fa {
    color: #000;
  }

  #linkedin {
    position: relative;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #linkedin .fa {
    color: #000;
  }

  .info {
    position: relative;
    width: 100%;
    text-align: center;
  }

  #my-description {
    width: 40%;
    margin:auto;
  }
 
  .fa {
    padding: 10px;
    float: right;
  }

  a {
    color: inherit;
  }

  .image-box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1);
    opacity: 0.8;
}

.image-box:hover img {
    transform: scale(1.05);
    opacity: 1;
}

.button-content-style {
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}

#about-nav {
  color: #fff;
}
#myprojects-nav {
  color: #fff;
}
#contacts-nav {
 color: #fff;
}

.button-content-style span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
  margin: auto;
  width: 150px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
.button-content-style span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-content-style:hover span {
  padding-right: 25px;
  border-bottom: 3px solid #1E434C;
}
.button-content-style:hover span:after {
  opacity: 1;
  right: 0;
}

.button-content-style a:hover {
  
    color: red;
  
}

.button-content {
  display: inline-block;
}


.button-visit-project {
  border-radius: 4px;
  color: #1f2833;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 5px;
  transition: all 0.4s;
  cursor: pointer;
  display: relative;
  border: 2px solid #1f2833;
}

.button-visit-project:link, .button-visit-project:visited {
  text-decoration: none;
}

.button-visit-project span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
  margin-top: 20px;
  margin-bottom: 50px;
}
.button-visit-project span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-visit-project:hover span {
  padding-right: 25px;
}
.button-visit-project:hover span:after {
  opacity: 1;
  right: 0;
}

#submain-title {
  text-align: center;;
  color: #45A29F;
  font-weight: bold;
}

#submain-list {
  text-align: center;
  list-style: none;
  color: #fff;
}

#submain-text {
  text-align: left;;
  color: #fff;
  font-size: 18px;
  margin-left: 115px !important;
}

#submain-text-description {
  text-align: left;;
  color: #fff;
  font-size: 16px;
  margin-left: 115px !important;
}

#submain-text-year {
  text-align: left;;
  color: #fff;
  font-size: 13px;
  margin-left: 115px !important;
}


.technologies-used {
  font-size: 24px;
  color: #1f2833;
  font-weight: bold;
}

.technologies-list {
  color: #1f2833;
}

#project-1 {
  margin-right: 25px;
}

#project-3 {
  margin-right: 25px;
}

#contacts {
  padding: 50px;
}

#contacts p {
  text-align: center;
}
.fa {
  float: none;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  width: 30%;
  background-color: #1E434C;
}

.card-body {
  background-color: #fff;
}

.card-title {
  color: #1f2833;
  font-weight: bold;
  font-size: 25px;
}

.card-text {
  color: #1f2833;
}

.project-info {
  text-align: center;
  width: 50%;
  float: left;
}


.project-part {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.project-image {
  text-align: center;
  width: 50%;
  float: right;
}


.responsive {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-sm-12 {
  padding-bottom: 100px;
  padding-top: 100px;
}


.devicon-html5-plain-wordmark {
  font-size: 100px;
}

.devicon-css3-plain-wordmark {
 font-size: 100px;
}

.devicon-javascript-plain {
  font-size: 100px;
}

.devicon-bootstrap-plain-wordmark {
  font-size: 100px;
}

.devicon-csharp-plain {
  font-size: 100px;
}

.devicon-dot-net-plain-wordmark {
  font-size: 100px;
}

.devicon-jquery-plain-wordmark {
  font-size: 100px;
}

.devicon-react-original-wordmark {
  font-size: 100px;
}

.devicon-trello-plain-wordmark {
  font-size: 100px;
}

.devicon-wordpress-plain-wordmark {
  font-size: 100px;
}

.devicon-photoshop-plain {
  font-size: 100px;
}

.content h3,
.content p {margin: 0;}
  /* Media queries */

  @media all and (max-width: 1260px){

    .project-info, .project-image {
      width:100%;
    }

}

  @media all and (max-width: 768px){
    .button-content-style {
        display: none;
    }

    #my-description {
      width: 100%;
      margin:auto;
    }

    #project-1 {
      margin-right: 0px;
    }
    
    #project-3 {
      margin-right: 0px;
    }

    .img {
        float: left;
        width: 50%;
    }
  }
